@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Ubuntu&display=swap");
body {
  background-color: whitesmoke;
  font-family: "Ubuntu", sans-serif;
  padding: 32px;
  margin: 0;
  margin-top: 104px;
}

h1, h2, h3 {
  color: #f68344;
  font-family: "Bree Serif", serif;
  font-weight: bold;
}

p {
  font-weight: lighter;
}

.page-title {
  text-align: center;
  font-size: 48px;
  margin-top: 125px;
  color: #846526;
  margin-bottom: 64px;
}

.menu {
  width: 100%;
  padding-left: 0;
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0px 3px 16px #f68344;
}

.menu-list {
  list-style-type: none;
  padding-left: 0;
  justify-content: space-around;
  display: flex;
  padding: 40px 40px;
  margin: 0;
  align-items: center;
}

.menu-list li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  transition: color 0.2s ease;
}
.menu-list li .active {
  color: #846526;
}
.menu-list li a:hover {
  color: #846526;
}

.website-link {
  color: black;
  text-decoration: none;
  transition: color 0.2s ease;
}
.website-link:hover {
  color: #846526;
}

.description h2 {
  font-size: 32px;
  margin-bottom: 32px;
}

.infos h3 {
  font-size: 32px;
}

.Chats tr {
  transition: all 0.2s ease;
}
.Chats tr:hover {
  background-color: #fcdfa6;
}
.Chats table {
  border-collapse: collapse;
}
.Chats table tr, .Chats table td {
  border: solid 1px #846526;
}
.Chats table tr:nth-child(even) {
  background-color: whitesmoke;
}

.entete {
  background-color: #846526;
  color: white;
  font-weight: bold;
}
.entete:hover {
  background-color: #846526 !important;
}
.entete td {
  padding: 20px;
}

tfoot tr td {
  padding: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 3px 16px #f68344;
  min-width: 240px;
  text-align: center;
  z-index: 1;
  left: -50px;
}
.dropdown .dropdown-content a {
  color: black;
  padding: 20px;
  text-decoration: none;
  display: block;
}
.dropdown .dropdown-content a:hover {
  background-color: whitesmoke;
}
.dropdown:hover .dropdown-content {
  display: block;
}

video {
  margin: 0 auto;
  border: 10px outset #ddd;
}

form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
form input, form textarea {
  display: block;
  appearance: none;
  outline: 0;
  background-color: fade(white, 20%);
  width: 250px;
  border: 0px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  transition-duration: 0.25s;
  font-weight: 300;
}
form input:hover, form textarea:hover {
  background-color: fade(white, 40%);
}
form input:focus, form textarea:focus {
  background-color: white;
  width: 300px;
  color: #f68344;
}
form input[type=submit] {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #f68344;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}
form input[type=submit]:hover {
  background-color: #846526;
}

.plan li {
  margin: 20px 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: -32px;
  padding: 32px;
  margin-top: 64px;
  border-top: solid #f68344 1px;
}
footer a {
  color: #f68344;
  font-weight: bold;
  text-decoration: none;
}

.img-article-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-height: 80vh;
  overflow: hidden;
  padding: 32px;
}
.img-article-container.left {
  justify-content: flex-start;
}
.img-article-container img {
  position: absolute;
  z-index: -1;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
}
.img-article-container article {
  padding: 32px;
  width: 100%;
  background-color: white;
  line-height: 1.5em;
  bottom: 32px;
  right: 32px;
}
.img-article-container article h1, .img-article-container article h2, .img-article-container article h3 {
  margin-top: 0;
  padding-top: 0;
  font-size: 1.2em;
}
.img-article-container article em {
  font-weight: bolder;
  font-style: normal;
  color: #f68344;
}
.img-article-container article .button {
  display: inline-block;
  text-decoration: none;
  padding: 16px;
  background-color: #f68344;
  border: solid 1px #f68344;
  color: white;
  font-weight: bold;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.img-article-container article .button:hover {
  background-color: white;
  color: #f68344;
}

.testimony {
  background-color: white;
  padding: 32px;
  margin: 32px;
  border: solid 1px #f68344;
  line-height: 1.5em;
}
.testimony h1, .testimony h2, .testimony h3 {
  margin-top: 0;
  padding-top: 0;
  font-size: 1.2em;
}
.testimony em {
  font-weight: bolder;
  font-style: normal;
  color: #f68344;
}
.testimony > :not(:last-child) {
  margin-bottom: 16px;
}

@media (min-width: 568px) {
  .testimony {
    margin: 32px 20vw;
  }

  .img-article-container article {
    width: 30%;
  }
}
.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

/*# sourceMappingURL=style.css.map */
